<main class="container border-gray-container">
  <todo-header></todo-header>
  <todo-logo></todo-logo>
  <div>
    <router-outlet></router-outlet>
  </div>
  <todo-footer></todo-footer>
</main>
<todo-spinner></todo-spinner>

<!-- <todo-login *ngIf="isLoginFormVisible()" (login)="handleAuth()"></todo-login>
<div *ngIf="!isLoginFormVisible()">
  <todo-toolbox (searchForTodos)="onSearchForTodos($event)"></todo-toolbox>
  <todo-list [searchQuery]="searchQuery"></todo-list>
</div>
<todo-add-form></todo-add-form> -->