<main class="logo border-gray-container">
  <img class="logo__image" src="../../../assets/images/angular.png" alt="logo">
  <h1 class="logo__title">{{title}}</h1>
  <div class="logo__button border-gray-container">
    <span>Todos</span>
  </div>
  <div>
    <p class="main-button border-gray-container" (click)="onLoginButtonClick()" *ngIf="!isAuthenticated()">login</p>
    <p class="main-button border-gray-container" (click)="onLogoutButtonClick()" *ngIf="isAuthenticated()">
      <span class="user-name">{{userName}}</span>
      <span>logout</span>
    </p>
  </div>
</main>
