<form #form="ngForm" (submit)="submit(form)">
  <fieldset ngModelGroup="todo">
    <div>
      <label for="title">Title</label>
      <input name="title" type="text" id="title" [ngModel]="todo.title">
    </div>
    <div>
      <label for="description">Description</label>
      <input name="description" type="text" id="description" [ngModel]="todo.description">
    </div>
    <div>
      <label for="date">Date</label>
      <input name="date" type="text" id="date" [ngModel]="todo.date">
    </div>
    <div>
      <label for="duration">Duration</label>
      <input name="duration" type="text" id="duration" [ngModel]="todo.duration">
    </div>
    <div>
      <label>Authors</label>
      <input name="authors" type="text" [ngModel]="todo.authors">
    </div>
  </fieldset>

  <div>
    <input class="main-button border-gray-container" type="submit" value="Save">
    <span class="main-button border-gray-container">Cancel</span>
  </div>
</form>
