<form [formGroup]="formGroup" (submit)="submit(formGroup)">
  <fieldset>
    <div>
      <label for="title">Title</label>
      <input formControlName="title" type="text" id="title">
      <span *ngIf="formGroup.controls.title?.invalid && formGroup.controls.title?.dirty">
        {{formGroup.controls.title?.errors | json}}
      </span>
    </div>
    <div>
      <label for="description">Description</label>
      <input formControlName="description" type="text" id="description">
      <span *ngIf="formGroup.controls.description?.invalid && formGroup.controls.description?.dirty">
        {{formGroup.controls.description?.errors | json}}
      </span>
    </div>
    <div>
      <todo-date formControlName="date"></todo-date>
      <span *ngIf="formGroup.controls.date?.invalid && formGroup.controls.date?.dirty">
        {{formGroup.controls.date?.errors | json}}
      </span>
    </div>
    <div>
      <label for="duration">Duration</label>
      <input formControlName="duration" type="text" id="duration">
      <span *ngIf="formGroup.controls.duration?.invalid && formGroup.controls.duration?.dirty">
        {{formGroup.controls.duration?.errors | json}}
      </span>
    </div>
    <div>
      <label>Authors</label>
      <input formControlName="authors" type="text">
      <span *ngIf="formGroup.controls.authors?.invalid && formGroup.controls.authors?.dirty">
        {{formGroup.controls.authors?.errors | json}}
      </span>
    </div>
  </fieldset>

  <div>
    <input class="main-button border-gray-container" type="submit" value="Save">
    <span class="main-button border-gray-container">Cancel</span>
  </div>
  <p>{{formGroup.value | json}}</p>
  <p>{{formGroup.status | json}}</p>
</form>
