<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <fieldset>
    <div>
      <label class="form-label" for="title">Title</label>
      <input formControlName="title" [ngClass]="{'error-field': formGroup.controls.title?.errors && formGroup.controls.title?.touched}" type="text" id="title">
      <span *ngIf="formGroup.controls.title?.invalid && formGroup.controls.title?.dirty">
        {{formGroup.controls.title?.errors | json}}
      </span>
    </div>
    <div>
      <label class="form-label" for="description">Description</label>
      <textarea formControlName="description" [ngClass]="{'error-field': formGroup.controls.description?.errors && formGroup.controls.description?.touched}" rows="10" cols="40" type="text" id="description"></textarea>
      <span *ngIf="formGroup.controls.description?.invalid && formGroup.controls.description?.dirty">
        {{formGroup.controls.description?.errors | json}}
      </span>
    </div>
    <div>
      <todo-date formControlName="date"></todo-date>
      <span *ngIf="formGroup.controls.date?.invalid && formGroup.controls.date?.dirty">
        {{formGroup.controls.date?.errors | json}}
      </span>
    </div>
    <div>
      <todo-duration formControlName="duration"></todo-duration>
      <span *ngIf="formGroup.controls.duration?.invalid && formGroup.controls.duration?.dirty">
        {{formGroup.controls.duration?.errors | json}}
      </span>
    </div>
    <div>
      <todo-authors formControlName="authors" [authors]="authors"></todo-authors>
      <span *ngIf="formGroup.controls.authors?.invalid && formGroup.controls.authors?.dirty">
        {{formGroup.controls.authors?.errors | json}}
      </span>
    </div>
  </fieldset>

  <div class="form-buttons">
    <input class="main-button border-gray-container" type="submit" value="Save" [disabled]="!isFormValid()">
    <span class="main-button border-gray-container" routerLink="/">Cancel</span>
  </div>
  <p>{{formGroup.value | json}}</p>
  <p>{{formGroup.status | json}}</p>
</form>
